<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Shoe:</strong>
    <%= store.shoe %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= store.stock %>
  </p>

</div>
